absl_py==2.2.2+computecanada
appdirs @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/appdirs/appdirs-1.4.4
astunparse==1.6.3+computecanada
attrs==25.1.0+computecanada
autograd==1.8.0
autograd_gamma==0.5.0+computecanada
cachetools==5.5.2+computecanada
certifi==2025.1.31+computecanada
charset_normalizer==3.4.1+computecanada
click==8.1.7+computecanada
cloudpickle==3.1.1+computecanada
ConfigArgParse==1.7+computecanada
connection_pool==0.0.3+computecanada
contourpy==1.2.0+computecanada
cycler==0.12.1+computecanada
datrie==0.8.2+computecanada
distlib @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/distlib/distlib-0.3.4
docutils==0.21.2+computecanada
dpath==2.2.0+computecanada
ecos==2.0.12+computecanada
fastjsonschema==2.21.1+computecanada
filelock @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/filelock/filelock-3.4.2
flatbuffers==25.2.10
flit_core @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/flitcore/flit_core-3.6.0
fonttools==4.58.0
formulaic==1.1.1
gast==0.6.0+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.44+computecanada
google-auth==2.40.1
google-pasta==0.2.0+computecanada
google_auth_oauthlib==1.0.0+computecanada
grpcio==1.67.0+computecanada
h5py==3.8.0+computecanada
humanfriendly==10.0+computecanada
idna==3.10+computecanada
interface_meta==1.3.0+computecanada
Jinja2==3.1.2+computecanada
joblib==1.3.2+computecanada
jsonschema==4.23.0+computecanada
jsonschema_specifications==2024.10.1+computecanada
jupyter_core==5.7.2+computecanada
keras==2.14.0+computecanada
kiwisolver==1.4.5+computecanada
libclang==14.0.1+computecanada
lifelines==0.30.0
llvmlite==0.41.0+computecanada
Markdown==3.8
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.3+computecanada
matplotlib==3.7.2+computecanada
mdurl==0.1.2+computecanada
ml_dtypes==0.2.0+computecanada
more-itertools @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/moreitertools/more-itertools-8.12.0
mpmath==1.3.0+computecanada
namex==0.0.9
nbformat==5.10.4+computecanada
networkx==3.2.1+computecanada
numba==0.58.0+computecanada
numexpr==2.8.4+computecanada
numpy==1.24.2+computecanada
oauthlib==3.2.2+computecanada
opt_einsum==3.4.0+computecanada
optree==0.15.0
osqp==0.6.2.post5+computecanada
packaging @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/packaging/packaging-21.3
pandas==2.1.1+computecanada
Pillow==10.1.0+computecanada
plac==1.4.3+computecanada
platformdirs==4.3.6+computecanada
protobuf==4.25.7
psutil==6.1.1+computecanada
PuLP==2.7.0+computecanada
pyasn1==0.6.1+computecanada
pyasn1_modules==0.4.2+computecanada
pygments==2.19.1+computecanada
pyparsing @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/pyparsing/pyparsing-3.0.7
python-dateutil==2.8.2+computecanada
pytz==2023.3.post1+computecanada
PyYAML==6.0.1+computecanada
qdldl==0.1.5.post3+computecanada
referencing==0.36.2+computecanada
requests==2.32.3+computecanada
requests_oauthlib==2.0.0+computecanada
reretry==0.11.8+computecanada
rich==14.0.0+computecanada
rpds_py==0.10.0+computecanada
rsa==4.9.1
scikit_learn==1.1.2+computecanada
scikit_survival==0.18.0+computecanada
scipy==1.10.1+computecanada
seaborn==0.13.2+computecanada
setuptools-scm @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/setuptools_scm/setuptools_scm-6.4.2
shap==0.46.0+computecanada
six @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/six/six-1.16.0
skorch==0.15.0
slicer==0.0.8+computecanada
smart-open==7.1.0
smmap==5.0.2+computecanada
snakemake==7.32.3+computecanada
stopit==1.1.2+computecanada
-e git+https://github.com/BoevaLab/survboard/@c4584a48d7eba19296379d65f86619c209a68cf8#egg=survboard
sympy==1.12+computecanada
tabulate==0.9.0+computecanada
tensorboard==2.14.1+computecanada
tensorboard_data_server==0.7.2+computecanada
tensorflow==2.14.0+computecanada
tensorflow_estimator==2.14.0+computecanada
tensorflow_io_gcs_filesystem==0.32.0+computecanada
termcolor==3.1.0
threadpoolctl==3.1.0+computecanada
throttler==1.2.2+computecanada
tomli @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/tomli/tomli-2.0.0
toposort==1.10+computecanada
torch==2.0.1+computecanada
tqdm==4.66.1+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.8.0
tzdata==2023.3+computecanada
urllib3==2.3.0+computecanada
virtualenv @ file:///tmp/ebuser/avx512/Python/3.10.2/GCCcore-9.3.0/virtualenv/virtualenv-20.13.0
werkzeug==3.1.3+computecanada
wrapt==1.14.1+computecanada
yte==1.5.7
